@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
:root {
  --themecolor: rgba(117, 159, 196, 0.125);
}
body,
.form-control,
.topic,
.answers,
.next,
.finished-modal {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  height: 100vh;
  font-family: 'Lato', sans-serif;
  overflow: hidden;
  /* height: auto; */
  background-color: var(--themecolor);
}

.form-control {
  flex-direction: column;
  background-color: white;
  width: clamp(300px, 500px, 90vw);
  align-items: flex-start;
  padding: 2rem;
  border-radius: 5px;
}
.form-control h1 {
  font-size: 2.4rem;
  letter-spacing: 2px;
}
.topic {
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0px;
  width: 100%;
}
.topic label {
  margin: 0.5rem 0px;
}
.topic input,
.topic select {
  width: 100%;
  font: inherit;
  padding: 0.3rem 0.4rem;
  background-color: var(--themecolor);
  border: none;
  border-radius: 5px;
}
.topic input:focus,
.topic select:focus {
  outline: none;
}

.start {
  width: 100%;
  font: inherit;
  background-color: orange;
  border: none;
  padding: 0.3rem;
  font-weight: bolder;
  letter-spacing: 1.2px;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
  transition: 0.4s ease;
  /* scale: 1.01; */
}
.start:hover {
  transform: scale(1.01);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.452);
  /* background-color: ; */
  /* color: white; */
}
.loader {
  border: 16px solid #ffffff; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.questions {
  position: relative;
}
.question {
  width: clamp(300px, 750px, 90vw);
}
.question h1 {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bolder;
  letter-spacing: 2px;
}
.answers {
  flex-direction: column;
  width: 100%;
}

.answer {
  /* align-self: center; */
  padding: 0.7rem;
  width: 85%;
  margin: 0.5rem 1rem;
  background-color: #3498dba3;
  font-weight: 100;
  /* width: 100%; */
}
.answer:hover {
  background-color: #3498db;
  color: white;
}
.next {
  width: 20%;
  align-self: flex-end;
  /* margin-right: 1.8rem; */
}
.state {
  color: rgb(29, 190, 11);
  letter-spacing: 1px;
  align-self: flex-end;
  padding-right: 1rem;
}
.finished-modal {
  flex-direction: column;
  background-color: rgb(251, 242, 242);
  padding: 1rem;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  height: 30rem;
  font-size: 2rem;
  width: clamp(300px, 500px, 90vw);
}
.results {
  text-align: center;
}
.again {
  width: 30%;
  font-size: 1rem;
  margin-top: 3rem;
}
