@import url('https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: 'Muli', sans-serif;
  overflow-x: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1,
h2 {
  text-align: center;
}
.btn {
  border: none;
  padding: 1rem;
  cursor: pointer;
  font: inherit;
  font-size: 2rem;
  margin: 2rem;
  width: 5rem;
  transition: 0.4s ease;
  border-radius: 5px;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background-color: rgba(0, 0, 0, 0.411);
}

.value {
  font-size: 2rem;
}
