@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body,
.form-control {
  display: flex;
  align-items: center;
  justify-content: center;
}
body {
  height: auto;
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  align-items: flex-start;
  background-color: rgb(221, 235, 248);
}

h1 {
  text-transform: uppercase;
  font-size: 1.4rem;
  margin: 2rem;
  margin-top: 4rem;
  letter-spacing: 1.5px;
  width: 100%;
  text-align: center;
}

.form-control label {
  font-size: 1.3rem;
  letter-spacing: 1.2px;
}
.form-control input {
  border: none;
  background-color: white;
  width: 4rem;
  height: 2.5rem;
  border-radius: 5px;
  margin: 1px 0.8rem;
  font: inherit;
  font-size: 1.5rem;
  padding: 5px;
  text-align: center;
}
.form-control input:focus {
  outline: none;
}
.form-control .btn {
  width: 6.5rem;
  height: 2.5rem;
  text-transform: uppercase;
  color: white;
  background-color: rgb(80, 168, 240);
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font: inherit;
  letter-spacing: 1px;
  transition: 0.3s ease;
}
.form-control .btn:hover {
  background-color: rgba(80, 168, 240, 0.595);
  color: black;
}
.paragraph {
  width: clamp(300px, 550px, 85vw);
  line-height: 1.5rem;
  text-align: center;
  margin: 1.5rem 5px;
}
