/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  overflow-x: hidden;
}
.rating {
  transition: ease-in-out 0.3s;
}
